apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: compute-unit-pvc
  namespace: hyperbeam
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 12Gi
  storageClassName: local-path